<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Terminal - coffeedust.io</title>
</head>

<body>
  <div class="terminal-bg">
    <div class="top-bar-content">
      <div class="circle"></div>
      <div class="circle" style="background: #663f24;"></div>
      <div class="circle" style="background: #7e5a40;"></div>
      <h1>cd.io virtual terminal - <%= @terminal ? @terminal.project_name : "invalid session"%></h1>
    </div>
    <main class="output-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugiat, iusto perferendis obcaecati non quibusdam esse quas cum iure sunt aut omnis. Fuga necessitatibus voluptas incidunt magnam at? Eius, velit?
    </main>

    <div class="input-box">
      <span>$ - </span>
      <form action="">
      <input type="text">
      </form>
    </div>
  </div>
</body>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300&display=swap');
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    background: #1d0b03;
  }
  .terminal-bg {
    width: 75%;
    height: 75%;
    background: darkgreen;
    margin: auto;
    border-radius: 15px;
    position: relative;
    padding: 0 2%;

    border: 10px solid #737373;
    border-top: 35px solid #737373;
  }

  .top-bar-content {
    position: absolute;
    top: -35px;
    left: 0px;
    height: 35px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 10px;
  }
  .top-bar-content > .circle {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #4d280f;
  }

  .top-bar-content > h1 {
    font-size: 1.3em;
    font-family: "Source Code Pro";
    font-weight: 400;
    text-align: right;
    flex: 1;
    wrap: nowrap;
    color: #2c1105;
  }

  main.output-content {
    width: 100%;
    height: calc(100% - 3em);
    overflow: scroll;
    color: lightgreen;
    font-family: "Source Code Pro";
    font-weight: 300;
    padding-top: 1em;
  }

  div.input-box {
    width: 100%;
    height: 2em;
    border-top: 2px solid lightgreen;
    margin: 0 auto;
    color: lightgreen;
    font-family: "Source Code Pro";
  }

  div.input-box > form {
    height: 100%;
    display: inline;
  }

  div.input-box > form > input {
    display: inline-block;
    width: 92%;
    height: 100%;
    background: none;
    border: none;
    color: lightgreen;
    font-family: "Source Code Pro";
    font-size: 1em;
    
  }

  div.input-box > form > input:active {
    border: none;
    outline: none;
  }
  div.input-box > form > input:focus {
    border: none;
    outline: none;
  }
</style>

</html>